<p id="notice"><%= notice %></p>

<h1>出資一覧</h1>

<table>
  <thead>
    <tr>
      <th>user.id</th>
      <th>product.id</th>
      <th>price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investments.each do |investment| %>
      <tr>
      <td><%= link_to investment.user.name, user_path(investment.user.id) %>さん</td>
      <td><%= investment.product_id %></td>
      <td><%= investment.price %></td>
      </tr>
    <% end %>
  </tbody>

</table>